<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/films.css">
    <link rel="stylesheet" href="/css/filmDetails.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/fullReviews.css">
    <link rel="stylesheet" href="/css/searchMovie.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/editProfile.css">
    <link rel="stylesheet" href="/css/allLikedMovies.css">
    <link rel="stylesheet" href="/css/allWatchlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>MoiveMinds</title>
</head>
</html>