<nav>
    <a href="/"><img class="nav-Img" src="/images/logo3.png" alt="Logo"></a>
    <ul class="new-Links" id="navSection">
        <li><a href="/">Home</a></li>
        <li><a href="/films ">Films</a></li>
        <% if(user) { %>
            <!-- Show the username if logged in -->
            <li class="dropdown-Container">
                <span style="color: hsl(32, 46%, 57%);"><%= user.username %></span>
                <i class="fa-solid fa-angle-down fa"></i>
                <!-- Dropdown content -->
                <div class="dropdown-Content">
                  <a href="/profile">Profile</a>
                  <a href="/edit-Profile">Edit Profile</a>
                  <a id="logOutBtn">Logout</a>
                </div>
              </li>
        <% } else { %>
            <!-- Show "Sign In" link if not logged in -->
            <li class="sign-In-Btn" onclick="displaySignInSection()">Sign In</li>
        <% } %> 
    </ul>
    <!-- The Sign-In Section (This section is hidden until the user clicks on Sign In button)-->
    <div id="signIn" class="sign-In">
        <div class="sign-In-Container">
            <form action="/signin" method="POST" class="sign-In-Form" id="signIpForm">
                <div class="error-Message" style="display: none;"></div>
                <div>
                    <span class="close-Sign-In">&times;</span>
                    <label for="username" class="name-label">Username</label>
                    <input type="text" class="sign-In-Input" id="signInUsername" name="username" required>

                    <label for="password" class="password-label">Password</label>
                    <input type="password" class="sign-In-Input" id="signInPassword" name="password" required> 

                    <button type="submit" class="submit-Btn">Sign In</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Search bar section -->
    <form id="searchForm">
        <div class="search-Bar">
            <input id="searchInput" type="text" name="search" placeholder="Search Movies...." required>
            <button type="submit">
                <img src="/images/search.png" alt="search-Logo">
            </button>
        </div>        
    </form>

    <script src="/JS/JSFunctions/sign-In.js"></script>
    <script src="/JS/filmsJS/fetchSearchedMovies.js"></script>
    <script src="/JS/navJS/logOutResponse.js"></script>
    <script src="/JS/navJS/signInResponse.js"></script>
</nav>