<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="watchlist section">
        <div class="watchlist-Title">
            <h3>Watchlist</h3>
        </div>
        <h3 class="no-watchList"></h3>
        <div class="watchlist-Movies-Grid">
            
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="/JS/allHref/allWatchListMovies.js"></script>
</body>
</html>