<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
        <!-- ----------------------------------TOTAL FILMS SECTION ----------------------------------->
    <h2 class="films-Title">SEARCHED RESULTS</h2>
    <div id="totalMovies" class="total-Films">
        
    </div>
        <!-- ----------------------------------FILMS SECTION ----------------------------------------->
    <div id="allFilms" class="films-Container">
            <!-- Container for all the movies that will be displayed -->
            <div id="allFilmsList" class="films-Grid">
                <!-- this is where the JS fetch will place the data recieved from the server in the EJS file -->
            </div>
            <div>
                <button id="showMoreBTN" class="show-More">Show more</button>
            </div>
    </div>

    <%- include("../partials/footer.ejs") %>
    <script src="/JS/filmsJS/fetchSearchedMovies.js"></script>
    <script src="/JS/filmsJS/fetchTotalNoMovies.js"></script>
</body>
</html>