<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="recent-Likes section">
        <div class="likes-Title">
            <h3>Recent Likes</h3>
        </div>
        <h3 class="no-Liked"></h3>
        <div class="liked-Movies-Grid">
            
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="/JS/allHref/fetchAllLikedMovies.js"></script>
</body>
</html>