<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="profile-container">
        <div class="tabs">
            <button class="tab active" data-tab="editProfile">PROFILE</button>
            <button class="tab" data-tab="avatar">AVATAR</button>
            <button class="tab" data-tab="changePassword">AUTH</button>
        </div>
    
        <div class="tab-content">
            <div id="editProfile" class="tab-panel active">

            </div>
    
            <div id="avatar" class="tab-panel">
                <form id="avatarForm" enctype="multipart/form-data">

                </form>
            </div>
    
            <div id="changePassword" class="tab-panel">
                
            </div>
        </div>
    </div>    
    
    
    <%- include("../partials/footer.ejs") %>
    <script src="/JS/profileJS/editProfileDetails.js"></script>
</body>
</html>