<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs"); %>
<body>
    <%- include("../partials/nav.ejs"); %>
    <div id="filmDetails" class="film-Details-Container">
            <!-- Movie Poster Section-->
        <div id="filmPoster" class="film-Poster">
            
        </div>
            <!-- Movie Info Section -->
        <div id="movieInfo" class="movie-Info">
            
        </div>
            <!-- Streaming Option Section -->
        <div class="movie-Streaming">
            <div class="streaming-Header">
                <h2>Where to watch</h2>
                <button class="movie-Trailer" onclick="displayTrailer()"><i class="fa-brands fa-youtube fa-lg" style="color: hsl(208, 11%, 66%);"></i> Trailer</button>
            </div>
            <!-- Section for displaying trailer -->
             <div id="trailerModal" class="trailer-Modal">
                <div id="movieTrailer" class="modal-Content-Trailer">
                    
                </div>
             </div>
             <!-- Section for provider list -->
             <div class="provider-List">
                <ul id="providerList">

                </ul>
             </div> 
        </div>
            <!-- Cast, Crew, etc. Section -->
        <div id="movieCredits" class="movie-Credits">
            <div class="tabs"></div>
            <div class="tab-Content"></div>
        </div>
    </div>
        <!-- The Review Box -->
    <div id="reviewFormBox" class="review-Form">
        
    </div>
        <!-- The reviews Section -->
    <div class="movie-Reviews">
        <div class="review-Header">
            <h1>Popular reviews</h1>
        </div>
        <div class="review-Container">
            
        </div>
    </div>
        <!-- Similar Movies -->
    <div>
        
    </div>



    <%- include("../partials/footer.ejs"); %>
    <script src="/JS/filmsJS/fetchMovieDetails.js"></script>
    <script src="/JS/JSFunctions/displayTrailer.js"></script>
</body>
</html>