<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/nav.ejs") %>
    <!-- The Intro Section -->
    <div class="home-Img">
        <div class="home-Text">
            <% if (user) { %>
                <h1>Welcome to MovieMinds! Dive into your movie diary, rate your favorites, and capture your cinematic journey just for you</h1>
                <p>Welcome Back, <span class="home-Username"><%= user.username %></span></p>
            <% } else { %>
                <h1>Welcome to MovieMinds! Dive into your movie diary, rate your favorites, and capture your cinematic journey just for you</h1>
                <button class="sign-Up-Btn" onclick="displaySignUpModal()">Get Started, it's free</button>
            <% } %>
        </div>
        <!-- This sign-Up section is hidden until the user clicks on the Sign-Up button -->
        <div class="sign-Up-Modal" id="signUpModal">
            <div class="modal-Content">
                <span class="close-Signup">&times;</span>
                <h2>Join Movieminds</h2>
                <div id="signUpError" style="color: red;"></div>
                <form action="/signup" method="POST" class="sign-Up-Form" id="signUpForm">
                    <label for="email">Email address</label>
                    <input class="input" type="email" id="signUpEmail" name="email" placeholder="Email" required>

                    <label for="username">Username</label>
                    <input class="input" type="text" id="signUpUsername" name="username" placeholder="Username" required>

                    <label for="password">Password</label>
                    <input class="input" type="password" id="signUpPassword" name="password" placeholder="Password" required>

                    <!-- Checkbox for terms and captcha -->
                    <div class="form-group">
                        <input type="checkbox" id="terms1" name="terms" required>
                        <label for="terms">I'm at least 16 years old and accept the <a href="#" class="check">Terms of Use</a></label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="terms2" name="terms" required>
                        <label for="terms">i accept the <a href="#" class="check">Privacy Policy</a> and consent to the processing of my personal information in accordance with it</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="submit-Btn">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <!-- The Home Page Movie Section -->
    <div id="home" class="home-Container">
        <h2>Now Playing</h2>
        <!-- The container for the now playing movies -->
        <div id="nowPlayingList" class="home-Grid"> 
            <!-- this is where the JS fetch will place the data recieved from the server in the EJS file -->
        </div>
    </div>
    
    <!-- This is the script thats responsible for fetching the now playing movies and display it -->
    <script src="/JS/indexJS/fetchNowPlaying.js"></script>
    <!-- Script for the sign up button modal -->
    <script src="/JS/JSFunctions/sign-Up.js"></script>
    <!-- Script that handles the response of the SignUp form -->
     <script src="/JS/indexJS/signupResponse.js"></script>
    <%- include("../partials/footer.ejs") %>
</body>
</html>